.home{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.home-header{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    justify-content: space-between;
}

.heading{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.heading > a{
    font-weight: bold;
    font-size: 1.8rem;
}

.icon-img-1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}


.card-container{
   display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    row-gap: 22px;
    column-gap: 22px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}

.card-even{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: #DFDFDF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-odd{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: #ABABAB;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.2), 0 3px 10px 0 rgba(100, 100, 100, 0.19);
}