.card > img{
    display: flex;
    max-width: 100%;
    max-height: 15vh;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.card-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.card-left{
    display: flex;
    flex-direction: column;
    float: left;
    width: 100px;
    padding: 10px;
}

.card-left > a{
    display: flex;
    font-size: 1.35rem;
    font-weight: 100;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card-left > f{
    font-weight: bolder;
}

